/* Every Button/Panel have an extra div to Add more Shadows*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 26px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NightMode state*/
.nightKeys{
    background-color: black;
    color: rgba(255, 255, 254, 0.8);
}
/*NightMode state*/
.nightKeysChange{
    background-color: rgba(255, 255, 254,0.8);
    color:rgba(161, 152, 152, 1);
}

body {
    z-index: 1111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /*NightMode Button*/
#nightMode{
    padding-top: 7px;
    text-align: center;
    font-size: 18px;
    margin: 20px 20px;
    height: 30px;
    width: 156px;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 12px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 1px solid  rgba(161, 152, 152, 0.18);
    border-radius: 14px;
}

#leftSideKeyPadContainer,
#operatorsContainer,
#rightSideContainer {
    height: 272px;
    z-index: 7777;
}

#leftSideKeyPad, #operators, #rightSide{
    height: 269px;
    gap: 1px;
}

#leftSideKeyPad,
#operators,
#rightSide {
    z-index: 7799;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#operators,
#rightSide {
    z-index: 8111;
    margin-right: 2px;
}

/*Every key styles*/
.key {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 106px;
    height: 59px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 32px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 1px solid  rgba(161, 152, 152, 0.18);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px, rgba(0, 0, 0, 0.22) 0px 2px 2px;
    
}

[data-key="Control"] {
    display: flex;
    flex-direction: column;
}

.controlReference {
    font-size: 12px;
}

.keyContainer {
    z-index: 8888;
    padding: 4px;
}

#keyPad {
    box-sizing: border-box;
    z-index: 4444;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
}

[data-key="Enter"] {
    height: 126px;
}

#keyEqual {
    font-weight: lighter;
    font-size: 121px;
}

#calcContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 580px;
    padding: 4px 4px 6px 4px;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 16px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 3px solid rgba(161, 152, 152, 0.18);
    border-radius:20px;
    background-color: #ebf3f300;
}

#display {
    z-index: 8888;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 14px;
    border: 4px solid #f0ffff;
    text-align: right;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 32px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 1px solid  rgba(161, 152, 152, 0.18);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px, rgba(0, 0, 0, 0.22) 0px 2px 2px;
}

#displayContainer {
    width: 98%;
    margin-left: 5px;
    margin-top: 4px;
    z-index:7777;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 12px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 1px solid  rgba(161, 152, 152, 0.18);
}
#sign{
    width: 10%;
    height: 60px;
    font-size: 46px;
    font-weight: lighter;
}
#displayText {
    padding: 5px 20px;
    height: 60px;
    width:500px;
    z-index: 9999;
    font-size: 48px;
    font-weight: lighter;
}

.arrow {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowLeftPart {
    z-index: 9990;
/*    color:#f0ffff;*/
    height: 0px;
    width: 0px;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 40px solid #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrowRightPart {
    z-index: 9990;
    height: 20px;
    width: 40px;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.whiteLeftArrow {
    z-index: 9994;
    margin-left: 17px;
    margin-bottom: 1px;
}

.whiteRightArrow {
    z-index: 9994;
    margin-left: 2px;
}

.keyClicked{
    box-shadow:4 24px 56px 4 rgba(124, 223, 223, 0.37);
    border: 1px dotted rgba(7, 104, 178, 0.18);
    background-color: rgba(239, 248, 245, 0.186);
    transform: scale(0.95);
    color: rgba(11, 11, 11,1);
}