* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 28px;
    color: #131111bc;

}

body {
    z-index: 1111;
    margin-top: 10%;
    margin-left: 5%;
    background-color: #ffffff;
    /*background-color: #555;*/

}/*header, footer{
    z-index: 1111;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter:blur( 2px );
    border: 1px solid rgba(255, 255, 255, 0.18)
}*/


#leftSideKeyPadContainer,
#operatorsContainer,
#rightSideContainer {
    z-index: 7777;
    /*background-color: #f0ffff;*/
    /*border: 8px solid #ff8c00;*/
}
#leftSideKeyPadContainer{
    margin-left: -15px;
}
#leftSideKeyPad{
    gap: 1px;
}

#leftSideKeyPad,
#operators,
#rightSide {
    z-index: 7799;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: #ff8c00;*/
    /*border: 4px solid #f0ffff;*/
}

#operators,
#rightSide {
    z-index: 8111;
}

.key {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 106px;
    height: 59px;
    /*border:2px solid #ff8c00;*/
    border-radius: 10px;
    /*background-color: #ffdab9;*/
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 32px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 2px solid  rgba(161, 152, 152, 0.18);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 7px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
    
}

[data-key="Control"] {
    display: flex;
    flex-direction: column;
}

.controlReference {
    font-size: 12px;
}

.keyContainer {
    z-index: 8888;
        /*background-color: #f0ffff;*/
    padding: 4px;
    /*border: 4px solid #ff8c00;*/
}

#keyPad {
    box-sizing: border-box;
    z-index: 4444;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
}

[data-key="Enter"] {
    height: 126px;
}

#keyEqual {
    font-weight: lighter;
    font-size: 121px;
}

#calcContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 590px;
    padding: 4px 4px 6px 4px;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 16px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 3px solid rgba(161, 152, 152, 0.18);
    border-radius:20px;
    background-color: #ebf3f300;
}

#display {
    z-index: 8888;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*background-color: #00ffff ;*/
    border-radius: 14px;
    border: 4px solid #f0ffff;
    text-align: right;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 32px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 1px solid  rgba(161, 152, 152, 0.18);
}

#displayContainer {
    width: 99%;
    margin-top: 4px;
    z-index:7777;
/*    background-color:#f0ffff;*/
/*    border: 8px solid #00ffff ;*/
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.30);
    box-shadow:0 8px 12px 0 rgba(174, 194, 193, 0.37);
    backdrop-filter:blur( 2px );
    border: 1px solid  rgba(161, 152, 152, 0.18);
}
#sign{
    width: 10%;
    height: 90px;
}
#displayText {
    padding: 5px 20px;
    height: 90px;
    width:500px;
    z-index: 9999;
    font-size: 68px;
    font-weight: lighter;
}

.arrow {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowLeftPart {
    z-index: 9990;
    color:#f0ffff;
    height: 0px;
    width: 0px;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 40px solid #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrowRightPart {
    z-index: 9990;
    height: 20px;
    width: 40px;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.whiteLeftArrow {
    z-index: 9994;
    margin-left: 17px;
    margin-bottom: -1px;
    color:#fff;
}

.whiteRightArrow {
    z-index: 9994;
    color:#fff;
    margin-left: 2px;
    margin-bottom: -1px;
}

.keyClicked{
    box-shadow:4 24px 56px 4 rgba(229, 237, 237, 0.37);
    border: 1px dotted rgba(7, 104, 178, 0.18);
    background-color: rgba(233, 233, 233, 0.186);
    transform: scale(0.95);
}